html {
    font-size: 75px;
    min-width: 320px;
    background-color: #fbfbfb;
}

#__bs_notify__ {
    display: none !important;
}

body {
    font-family: "Microsoft YaHei", "黑体", "宋体", "Open Sans", sans-serif;
}

a {
    color: #666;
}

p {
    color: #333;
}

textarea {
    border: 0;
    border-radius: 5px;
    color: #666;
    overflow-y: hidden;
    max-height: 3.333333rem;
}

textarea:focus,
textarea:active {
    border: 0;
    outline: 0;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    font-size: 0.213333rem;
}

.content {
    margin-bottom: 2rem;
}

.bg-gray {
    background-color: #fbfbfb;
}

$blue:#0095FF;
$red:#EF4746;
$yellow:#F18C39;
.banner {
    img {
        width: 100%;
    }
}

@mixin top-nav($bgColor, $color) {
    font-size: 0.346667rem;
    display: -webkit-box;
    display: -ms-box;
    position: relative;
    line-height: 1.3rem;
    height: 1.3rem;
    background-color: $bgColor;
    a {
        font-size: 0.4rem;
        color: $color;
    }
    .nav-wrap-left {
        position: absolute;
        left: 0;
        a {
            display: inline-block;
            span {
                margin-left: .2rem;
                margin-right: .2rem;
            }
        }
    }
    .nav-wrap-right {
        position: absolute;
        right: 0;
        a {
            display: inline-block;
            span {
                margin-left: .2rem;
                margin-right: .2rem;
            }
        }
    }
    .nav-header {
        display: block;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        h1 {
            color: #666;
        }
        .search-bar-r {
            .search {
                width: 7rem;
            }
        }
    }
}

.top-nav {
    @include top-nav(#fff, $blue);
    border-bottom: 1px solid $blue;
}

.top-nav-link {
    font-size: 0.346667rem;
    line-height: 1.3rem;
    height: 1.3rem;
    .sub-nav-3 {
        width: 94%;
        padding: 0 3%;
        .nav-item {
            line-height: 1.3rem;
            height: 1.3rem;
            width: 30%;
            margin-right: 5%;
            color: #666;
            font-size: 0.4rem;
            border-bottom: 1px solid #fff;
            border-right: none;
            &:last-child {
                margin-right: 0;
            }
            &:active {
                color: $blue;
                border-bottom: 1px solid $blue;
            }
        }
        .current {
            color: $blue;
            border-bottom: 1px solid $blue;
        }
    }
}

.top-nav-index {
    @include top-nav($blue, #fff);
    .search-bar {
        margin: 0.3rem auto 0rem;
        overflow: hidden;
        position: relative;
        .search {
            text-indent: 0.6rem;
            font-size: 0.293333rem;
            background: $blue;
            border: 1px solid #fff;
            height: 0.64rem;
            line-height: 0.64rem;
            width: 4.266667rem;
            float: left;
            color: #fff;
            box-sizing: border-box;
        }
        .icon-search {
            position: absolute;
            left: .2rem;
            font-size: .26rem;
            display: inline-block;
            vertical-align: middle;
            font-style: normal;
            line-height: .64rem;
        }
        .icon-21 {
            &:before {
                color: #fff;
            }
        }
        button {
            color: $blue;
            float: left;
            border: 1px solid #fff;
            height: 0.64rem;
            font-size: 0.293333rem;
            width: 1.2rem;
            background-color: #fff;
        }
        input::input-placeholder {
            color: #fff;
        }
        input::-webkit-input-placeholder {
            color: #fff;
        }
        input::-moz-input-placeholder {
            color: #fff;
        }
        input::-ms-input-placeholder {
            color: #fff;
        }
    }
}

.focus {
    width: 100%;
    max-width: 750px;
    min-width: 320px;
    height: 2.333333rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#focus .hd {
    width: 100%;
    height: 0.2rem;
    position: absolute;
    z-index: 1;
    bottom: 0.266667rem;
    text-align: center;
}

#focus .hd ul {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    opacity: .4;
}

#focus .hd ul li {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    -webkit-border-radius: 0.133333rem;
    -moz-border-radius: 0.133333rem;
    border-radius: 0.133333rem;
    background: #8c8c8c;
    margin: 0 0.1rem;
    vertical-align: top;
}

#focus .hd ul .on {
    background: $blue;
}

#focus .bd {
    position: relative;
    z-index: 0;
}

.focus .bd li img {
    width: 100%;
    height: 2.333333rem;
    position: url(images/loading.gif) center center no-repeat;
}

#focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.category-nav {
    overflow: hidden;
    padding-top: .2rem;
    padding-bottom: .2rem;
    .nav-item {
        float: left;
        width: 20%;
        display: block;
        text-align: center;
        box-sizing: border-box;
        a {
            // padding: .2rem 0 0 0;
            display: inline-block;
        }
        &:nth-child(5) ~ li {
            margin-top: 0.2rem;
        }
    }
    span {
        text-align: center;
        display: block;
    }
    .category-icon {
        display: block;
        margin: auto;
        margin-bottom: .05rem;
        padding-top: .25rem;
        width: 1.2rem;
        height: 1.2rem-0.25rem;
        border-radius: 10rem;
        font-size: 0.7rem;
        &:before {
            color: #fff !important;
        }
    }
}

.icon-desc {
    font-size: 0.24rem;
    color: #666;
}

.icon-1 {
    background-color: #0095FF;
}

.icon-2 {
    background-color: #FF8056;
}

.icon-3 {
    background-color: #F18C39;
}

.icon-4 {
    background-color: #3CCBA0;
}

.icon-5 {
    background-color: #FF827A;
}

.icon-6 {
    background-color: #FF8056;
}

.icon-7 {
    background-color: #3CCBA0;
}

.icon-8 {
    background-color: #F18C39;
}

.icon-9 {
    background-color: #FF8056;
}

.icon-10 {
    background-color: #0095FF;
}

.nav-teacher {
    overflow: hidden;
    a {
        float: left;
        font-size: 0.333333rem;
        display: inline-block;
        color: #fff;
        height: 1.333333rem;
        line-height: 1.333333rem;
        width: 50%;
        text-align: center;
        &:before {
            color: #fff;
        }
    }
    .icon-11 {
        background-color: $blue;
    }
    .icon-12 {
        background-color: $red;
    }
}

@mixin title {
    line-height: 0.533333rem;
    padding: 0.16rem 0;
    position: relative;
    height: 0.533333rem;
    i {
        display: inline-block;
        vertical-align: top;
        height: 0.533333rem;
        line-height: 0.533333rem;
    }
}

.adv-title {
    line-height: 0.533333rem;
    padding: 0.16rem 0;
    position: relative;
    height: 0.533333rem;
    i {
        display: inline-block;
        vertical-align: top;
        height: 0.533333rem;
        line-height: 0.533333rem;
    }
    .color-icon {
        background-color: $red;
        width: 0.066667rem;
    }
}

// @mixin n-items($n) {
//     &:first-child:nth-last-child(#{$n}),
//     &:first-child:nth-last-child(#{$n}) ~ a {   
//         $navNum: 100 / $n;
//         $navWid : $navNum * 1%;
//         width: $navWid;
//     }
// }
@mixin sub-nav($bdColor:$blue) {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    .nav-item {
        float: left;
        line-height: 0.666667rem;
        height: 0.666667rem;
        text-align: center;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        &:last-child {
            border-right: none;
        }
        &:active {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $bdColor;
        }
    }
    .current {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $bdColor;
    }
}

.sub-nav-5 {
    @include sub-nav($blue);
    .nav-item {
        width: 20%;
    }
}

.sub-nav-4 {
    @include sub-nav($blue);
    .nav-item {
        width: 25%;
    }
}

.sub-nav-3 {
    @include sub-nav($blue);
    .nav-item {
        width: 100 / 3 * 1%;
    }
}

.hd-title {
    @include title;
    border-top: 1px solid #eee;
    .more {
        float: right;
    }
    .title {
        &:before {
            margin-right: 0.106667rem;
            font-size: 0.4rem;
            vertical-align: top;
        }
    }
}

.f-teacher {
    .title {
        &:before {
            color: $blue;
        }
    }
    .sub-nav {
        .current {
            border-bottom-color: $red;
        }
    }
}

.color-red {
    color: $red;
}

.f-organ {
    .title {
        &:before {
            color: $yellow;
        }
    }
    .sub-nav {
        .current {
            border-bottom-color: $yellow;
        }
    }
}

.f-course {
    .adv-title {
        .color-icon {
            background-color: $blue;
        }
    }
    .title {
        &:before {
            color: $blue;
        }
    }
    .sub-nav {
        .current {
            border-bottom-color: $blue;
        }
    }
}

.grey {
    padding: 0.133333rem;
    border: 1px solid #eee;
}

.blue {
    color: #fff;
    padding: 0.133333rem;
    background-color: $blue;
    &:before {
        vertical-align: top;
        margin-right: 0.106667rem;
    }
}

.category-items {
    padding: .266667rem .266667rem 0 .266667rem;
    background-color: #fbfbfb;
    .items {
        font-size: 0.24rem;
        .item-info {
            overflow: hidden;
            padding: 0.133333rem;
            .item-pct {
                float: left;
                width: 2.666667rem;
                height: 2.666667rem;
                img {
                    width: 100%;
                }
            }
            .item-detail {
                float: left;
                margin-left: 0.266667rem;
                h6 {
                    font-size: 0.466667rem;
                }
                p {
                    margin: 0.133333rem 0;
                    span {
                        display: inline-block;
                    }
                    .grade {
                        color: $red;
                    }
                    .visit-num {
                        color: $red;
                    }
                    .price {
                        color: $red;
                    }
                    .apply-num {
                        color: $red;
                    }
                }
            }
        }
        .item {
            margin: 0.2rem 0;
            border: 1px solid #eee;
            background-color: #fff;
        }
        .course {
            overflow: hidden;
            padding: 0.133333rem;
            border-top: 1px solid #eee;
            .course-type {
                float: left;
                width: 2.666667rem;
                text-align: right;
                .grey {
                    display: inline-block;
                }
            }
            .course-info {
                float: left;
                margin-left: 0.266667rem;
            }
            .course-sub {
                display: -webkit-flex;
                display: flex;
                span {
                    line-height: 2em;
                }
            }
            .study-num {
                display: block;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                text-align: right;
            }
            .price {
                color: $red;
            }
            .course-name {
                width: 5.6rem;
                font-size: 0.333333rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.course-items {
    padding: .266667rem .266667rem 0 .266667rem;
    background-color: #fbfbfb;
    .read-more {
        text-align: center;
        display: block;
        font-size: .3rem;
        line-height: 0.6rem;
        background-color: #fff;
    }
    .items {
        font-size: 0.24rem;
    }
    .item {
        // padding: 0.2rem;
        background-color: #fff;
        margin-bottom: 0.2rem;
        &:last-child {
            margin-bottom: 0;
        }
        .item-info {
            overflow: hidden;
        }
        .item-pct {
            float: left;
            width: 3.333333rem;
            height: 2.266667rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .item-detail {
            float: left;
            width: 5.3rem;
            margin-left: 0.2rem;
            p {
                line-height: 1.5em;
                &:before {
                    margin-right: 5px;
                }
            }
            .play-num,
            .price,
            .study-num {
                color: $red;
            }
            .icon-26 {
                display: -webkit-flex;
                display: flex;
            }
            .price {
                display: block;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                text-align: right;
            }
            .course-type {
                border: 1px solid $blue;
                color: $blue;
                font-size: .3rem;
                margin-right: 0.2rem;
                padding: 0 0.1rem;
            }
            .course-name {
                line-height: 1.5em;
                width: 5.3rem;
                font-size: 0.466667rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.adv-bar {
    width: 100%;
    margin: 0.2rem 0;
    img {
        width: 100%;
    }
}

.items-lr {
    overflow: hidden;
    .item {
        background-color: #fff;
        float: left;
        width: 48%;
        margin-top: 0.266667rem;
        .course-type {
            border: 1px solid #{$blue};
            border-radius: 0.066667rem;
            color: $blue;
            display: inline-block;
            padding: 0 0.066667rem;
        }
        &:nth-child(odd) {
            margin-right: 4%;
        }
        .item-pct {
            img {
                width: 100%;
            }
        }
        .item-caption {
            padding: .133333rem;
            p {
                line-height: 1.5em;
                width: 4.266667rem;
            }
            .course-sub {
                display: flex;
                display: -webkit-flex;
            }
            .price {
                color: $red;
                text-align: right;
                display: block;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
        }
    }
}

.recommend {
    color: $blue;
    text-align: center;
    padding: 0.16rem 0;
}

.fn-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin bot-nav {
    position: fixed;
    bottom: 0;
    width: 10.0rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    align-content: center;
    .button-nav,
    a {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        box-sizing: border-box;
        display: block;
        height: 1.133333rem;
    }
}

.bot-nav-answer {
    position: fixed;
    bottom: 0;
    width: 10.0rem;
    padding: 0.333333rem;
    background-color: #eee;
    form {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .ui-upload {
        margin-right: 0.333333rem;
        .icon-46 {
            display: inline-block;
            border-radius: 0.666667rem;
            width: 0.8rem;
            height: 0.7rem;
            padding-top: 0.1rem;
            font-size: 0.533333rem;
            background: #fafafa;
            border: 1px solid #ddd;
        }
        input[type="file"] {
            height: .8rem;
        }
    }
    textarea {
        min-height: 0.866667rem;
        padding: 0;
        border: 0;
        width: 6.266667rem;
        background-color: #fff;
        border-radius: 5px;
        font-size: 0.293333rem;
    }
    button {
        margin: 0 0.333333rem;
        border-radius: 5px;
        color: #666;
        width: 1.333333rem;
        font-size: 0.293333rem;
        height: 0.866667rem;
    }
}

.bot-nav-send {
    position: fixed;
    bottom: 0;
    width: 10.0rem;
    padding: 0.333333rem;
    background-color: #eee;
    form {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    textarea {
        min-height: 0.866667rem;
        padding: 0;
        border: 0;
        width: 7.6rem;
        background-color: #fff;
        border-radius: 5px;
        font-size: 0.293333rem;
    }
    button {
        margin: 0 0.333333rem;
        border-radius: 5px;
        color: #666;
        width: 1.333333rem;
        font-size: 0.293333rem;
        height: 0.866667rem;
    }
}

.bot-nav-2 {
    @include bot-nav;
    height: 1.133333rem;
    .button-nav {
        line-height: 1.133333rem;
        font-size: .4rem;
        background-color: #fff;
        color: #666;
        display: inline-block;
        &:before {
            margin-right: 0.2rem;
        }
        &:only-child {
            background-color: $red;
            color: #fff;
        }
        &:last-child:nth-child(2) {
            background-color: $red;
            color: #fff;
        }
    }
}

.detail-intro {
    background-color: #fbfbfb;
    padding: 0.266667rem 0.266667rem 0 0.266667rem;
}

.bot-nav {
    @include bot-nav;
    padding-top: 0.133333rem;
    background: #eee;
    height: 1.133333rem;
    a {
        color: #606060;
        .bot-icon {
            font-size: 0.4rem;
            display: block;
            width: 100%;
            line-height: 0.6rem;
            &:before {
                font-size: .4rem;
            }
        }
        .icon-desc {
            font-size: .35rem;
        }
    }
    .current {
        color: $blue;
        p {
            color: $blue;
        }
    }
}

.ew-nav {
    display: inline-block;
    letter-spacing: -999px;
    border: 1px solid $blue;
    line-height: 0.733333rem;
    height: 0.733333rem;
    width: 5.6rem;
    border-radius: 3px;
    .nav-item {
        width: 50%;
        height: 100%;
        display: inline-block;
        line-height: 0.733333rem;
        letter-spacing: 0;
    }
    .current {
        background-color: $blue;
        color: #fff;
    }
}

.table {
    border: 1px solid #DDD8CE;
    border-radius: .06rem;
    overflow: hidden;
    background-color: #FDFDFC;
    li {
        box-sizing: border-box;
        display: inline-block;
        width: 25%;
        height: .8rem;
        line-height: .8rem;
        font-size: .28rem;
        text-align: center;
        border-bottom: 1px solid #ddd8ce;
        border-right: 1px solid #ddd8ce;
        margin-bottom: -1px;
        float: left;
        position: relative;
        z-index: 10;
        &:nth-child(4n) {
            border-right: none;
        }
        a {
            display: inline-block;
            width: 100%;
        }
    }
}

#appoint {
    text-align: center;
    overflow: hidden;
    dl {
        dd {
            padding: 0.133333rem;
            input {
                border-radius: 5px;
                border: 1px solid #eee;
                font-size: 0.333333rem;
                height: 1.2rem;
                text-align: center;
            }
            input[type="submit"] {
                border: none;
                width: 100%;
                background-color: $red;
                color: #fff;
            }
        }
        dd:nth-child(1) {
            overflow: hidden;
            input {
                width: 48%;
                float: left;
                box-sizing: border-box;
                &:nth-child(odd) {
                    margin-right: 4%;
                }
            }
        }
        dd:nth-child(2) {
            input {
                width: 100%;
            }
        }
    }
}

.article-guide {
    section {
        padding-bottom: 0.333333rem;
        h1 {
            font-size: 18px;
            line-height: 1.5em;
        }
        h2 {
            font-size: 0.266667rem;
            line-height: 1.5em;
        }
        h3 {
            font-size: 16px;
            color: $blue;
        }
        p {
            font-size: 0.266667rem;
            line-height: 1.5em;
        }
        figure {
            width: 80%;
            margin: 0.6rem auto;
            text-align: center;
            img {
                width: 50%;
            }
            figcaption {
                h2 {
                    font-size: 18px;
                }
            }
        }
        padding: 0.266667rem;
    }
    .adv-bar {
        background-image: url("../images/adv2.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 3.733333rem;
        color: #fff;
        text-align: center;
        h1 {
            font-size: 0.533333rem;
        }
        h2 {
            font-size: 0.466667rem;
        }
    }
}

@mixin step {
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
    margin: 0.6rem auto;
    h1 {
        font-size: 0.6rem;
        color: #fff;
    }
}

.step1 {
    @include step;
    width: 6.533333rem;
    height: 3.413333rem;
    background-image: url(../images/radius-rect1.png);
    h1 {
        line-height: 2rem !important;
    }
}

.step2 {
    @include step;
    width: 6.533333rem;
    height: 3.413333rem;
    background-image: url(../images/radius-rect2.png);
    h1 {
        line-height: 1.5em !important;
        padding: 0.45rem 0;
    }
}

.step3 {
    @include step;
    width: 6.533333rem;
    height: 3.413333rem;
    background-image: url(../images/radius-rect3.png);
    h1 {
        line-height: 2rem !important;
    }
}

.step4 {
    @include step;
    width: 6.533333rem;
    height: 3.413333rem;
    background-image: url(../images/radius-rect4.png);
    h1 {
        padding: 0.45rem 0;
        line-height: 1rem !important;
    }
}

.info-items {
    background-color: #fbfbfb;
    padding: .266667rem .266667rem 0;
    .box-item {
        background-color: #fff;
    }
    .sub-nav {
        .nav-item {
            border-bottom: 1px solid #fff;
            &:active {
                border-bottom: 1px solid $blue;
                color: $blue;
            }
        }
        .current {
            border-bottom: 1px solid $blue;
            color: $blue;
        }
    }
    section {
        color: #666;
        padding: 0.333333rem;
        border-bottom: 1px solid #eee;
        p {
            line-height: 1.5em;
            text-indent: 2em;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.detail-info {
    background-color: #fff;
    section {
        dl {
            dt {
                font-size: .4rem;
                color: #000;
            }
            dd {
                padding: 0.1rem 0;
                display: -webkei-flex;
                display: flex;
                h4 {
                    line-height: 1.5em;
                    margin-right: 0.2rem;
                }
                p {
                    text-indent: 0;
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
            }
        }
    }
}

.order-list {
    .item {
        padding: .1rem .333333rem;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
        }
        p {
            color: #666;
            line-height: 2em;
        }
        .order-name {
            font-size: 0.293333rem;
        }
        .order-success {
            text-align: right;
            color: $red;
        }
        .order-num {
            color: $red;
            width: 50%;
            display: inline-block;
        }
        .date {
            width: 50%;
            display: inline-block;
            text-align: right;
        }
    }
}

.tab-box {
    .box-item {
        display: none;
    }
    .current {
        display: block;
    }
}

.color-red {
    color: $red;
}

#location-city {
    font-size: 0.266667rem;
    .city-name {}
}

#searchCity {
    position: relative;
    .search {
        text-align: center;
    }
}

.search-bar-r {
    .search {
        font-size: 0.28rem;
        height: 0.933333rem;
        background-color: #eee;
        border-radius: 5px;
        padding-left: 8px;
        box-sizing: border-box;
        width: 7.866667rem;
    }
    .icon-21 {
        &:before {
            color: #999;
        }
    }
    .search-btn {
        color: #999;
        font-size: 0.28rem;
        background-color: #eee;
        padding-left: 0.266667rem;
        padding-right: 0.266667rem;
        border-radius: 5px;
        height: 0.933333rem;
    }
    input::input-placeholder {
        color: #999;
    }
    input::-webkit-input-placeholder {
        color: #999;
    }
    input::-moz-input-placeholder {
        color: #999;
    }
}

.input-text,
.btn:active {
    box-shadow: 3px 3px 8px rgba(70, 70, 70, .1) inset, -3px -3px 8px rgba(70, 70, 70, .1) inset
}

.table-list {
    .title {
        height: 0.8rem;
        background-color: #eee;
        font-size: .28rem;
        h3 {
            line-height: .8rem;
            text-indent: 0.266667rem;
            color: #666;
        }
    }
    .box {
        font-size: .28rem;
        padding: 0.266667rem;
    }
}

.introduce {
    overflow: hidden;
    padding: 0.266667rem;
    .portrait {
        float: left;
        width: 2.6rem;
        height: 2.6rem;
        img {
            border-radius: 1.333333rem;
            width: 100%;
        }
    }
    .base-info {
        float: left;
        width: 6.5rem;
        margin-left: 0.333333rem;
        h6 {
            font-size: 0.466667rem;
        }
        p {
            line-height: 1.4em;
            margin: 0.15rem 0;
            span {
                display: inline-block;
            }
        }
        .grade {
            color: $red;
        }
    }
}

.video {
    width: 100%;
    .vjs-default-skin {
        width: 100%;
        height: 6.266667rem;
    }
    .vjs-poster {
        background-size: 100%;
    }
}

@mixin bd-bot {
    border-bottom: 1px solid #eee;
    &:last-child {
        border-bottom: none;
    }
}

.rate-items {
    .item {
        padding: 0.2rem;
        overflow: hidden;
        @include bd-bot;
        .item-pct {
            margin-right: 0.2rem;
            width: 1.333333rem;
            height: 1.333333rem;
            float: left;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .item-detail {
            float: left;
            width: 7.333333rem;
        }
        .user-rated {
            overflow: hidden;
            .user-name {
                line-height: .35rem;
                margin-right: 0.2rem;
                float: left;
            }
            .rated {
                float: left;
                line-height: .35rem;
            }
        }
        .date {
            line-height: .35rem;
            float: right;
            color: #666;
        }
    }
    .course-name {
        color: #666;
    }
    p {
        line-height: 1.5em;
    }
}

.star-rated {
    background-image: url(../images/starky.png);
    background-repeat: repeat-x;
    background-size: 0.333333rem 0.333333rem;
    width: 1.615rem;
    height: 0.35rem;
    position: relative;
}

.star-rated span {
    background-image: url(../images/starsy.png);
    background-repeat: repeat-x;
    background-size: 0.333333rem 0.333333rem;
    height: 0.35rem;
    width: 1.615rem;
    position: absolute;
}

.course-nav {
    padding: 0.266667rem;
    .nav-item {
        font-size: 0.346667rem;
        padding: 0.053333rem 0.16rem;
        margin-right: 0.3rem;
        &:last-child {
            margin-right: 0;
        }
        &:active {
            background-color: $red;
            color: #fff;
        }
    }
    .all {
        font-size: 0.346667rem;
        padding: 0.053333rem 0.16rem;
        &:active {
            color: $red;
        }
    }
    .all.current {
        color: $red;
        background: none;
    }
    .cut-line {
        margin: 0 0.2rem;
        font-size: 0.346667rem;
        color: $red;
    }
    .current {
        background-color: $red;
        color: #fff;
    }
}

.group-info {
    overflow: hidden;
    padding: .3rem 0.4rem;
    background-color: #fbfbfb;
    color: #333;
    .item-pct {
        width: 1.333333rem;
        height: 1.333333rem;
        float: left;
        img {
            width: 100%;
        }
    }
    .item-detail {
        float: left;
        margin-left: 0.266667rem;
        h6 {
            font-size: 0.466667rem;
        }
        p {
            line-height: 1.5em;
        }
    }
    .publish {
        float: right;
        padding: .3rem 0;
        .btn {
            display: inline-block;
        }
    }
}

.topcis-list {
    li {
        border-bottom: 1px solid #eee;
        padding: .3rem 0.4rem;
        p {
            padding: 0.1rem 0;
        }
        .topci-title {
            display: inline-block;
            font-size: 16px;
            width: 6.533333rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .date {
            float: right;
            color: #666;
        }
        .topci-content {
            font-size: 0.24rem;
            color: #666;
            width: 6.533333rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .comment-num {
            color: #666;
            margin-right: 0.4rem;
            &:before {
                font-size: 0.3rem;
                margin-right: 0.16rem;
                vertical-align: bottom;
            }
        }
        .agree-num {
            &:before {
                vertical-align: bottom;
                font-size: 0.3rem;
                margin-right: 0.16rem;
            }
            color:#666;
        }
    }
}

#getCode {
    width: 2.666667rem;
    margin-left: 0.2rem;
}

.btn {
    padding: 0.2rem 0.333333rem;
    font-size: 0.266667rem;
    border-radius: 5px;
    height: 1rem;
}

.large-btn {
    width: 100%;
}

.red-btn {
    background-color: $red;
    color: #fff;
}

.blue-btn {
    background-color: $blue;
    color: #fff;
}

.btn-wrapper {
    padding: 0.333333rem;
}

.sub-nav-c {
    text-align: center;
    .nav-item {
        font-size: .4rem;
        width: 2.0rem;
        margin-right: 0.666667rem;
        padding: 0.333333rem 0;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
    .current {
        border-bottom: 1px solid $blue;
        color: $blue;
    }
}

.topics-group {
    .items {
        .item {
            padding: .3rem 0.4rem;
            border-top: 1px solid #eee;
        }
    }
    .item-info {
        overflow: hidden;
        .item-pct {
            width: 1.333333rem;
            height: 1.333333rem;
            float: left;
            img {
                width: 100%;
            }
        }
        .item-detail {
            float: left;
            margin-left: 0.266667rem;
            h6 {
                font-size: 0.466667rem;
            }
            p {
                line-height: 1.5em;
            }
        }
    }
}

.topic-article {
    header {
        padding: 0.3rem 0.4rem;
        background-color: #eee;
        display: -webkit-flex;
        display: flex;
        img {
            width: 0.666667rem;
            height: 0.666667rem;
            vertical-align: middle;
            margin: 0 0.333333rem;
        }
        .user-name {
            color: #666;
            font-size: 0.32rem;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            line-height: 0.666667rem;
        }
        .date {
            color: #666;
            display: inline-block;
            text-align: right;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            line-height: 0.666667rem;
            font-size: 0.32rem;
        }
    }
    section {
        padding: 0.4rem;
        h2 {
            font-size: 16px;
            color: #333;
        }
        p {
            font-size: 0.186667rem;
            padding-top: 0.266667rem;
            line-height: 1.5em;
        }
    }
}

.tool-bar {
    font-size: 0.346667rem;
    background-color: #eee;
    line-height: 0.933333rem;
    padding-left: 0.2rem;
    display: -webkit-flex;
    display: flex;
    .all-subjects {
        -webkit-box-flex: 8;
        -moz-box-flex: 8;
        -webkit-flex: 8;
        -ms-flex: 8;
        flex: 8;
    }
    .ask {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: right;
        font-size: 26px;
    }
    .answer {
        font-size: 22px;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: left;
        margin-left: 0.533333rem;
    }
}

.comment-list {
    padding: 0.333333rem;
    width: 9.333333rem;
    background-color: #fbfbfb;
}

.panel-padding {
    padding: 0.333333rem;
}

.panel-margin {
    margin: 0.333333rem;
}

.portrait-name-date {
    padding: 0.2rem .4rem;
    display: -webkit-flex;
    display: flex;
    img {
        width: 0.666667rem;
        height: 0.666667rem;
        vertical-align: middle;
        margin-right: 0.333333rem;
    }
    .user-name {
        color: #666;
        font-size: 0.32rem;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 0.666667rem;
    }
    .date {
        color: #666;
        display: inline-block;
        text-align: right;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 0.666667rem;
        font-size: 0.32rem;
    }
}

.comment {
    background-color: #fff;
    margin-bottom: 0.4rem;
    border-radius: 5px;
    width: 100%;
    &:last-child {
        margin-bottom: 0;
    }
    .comment-hd {
        padding: 0.2rem .4rem;
        display: -webkit-flex;
        display: flex;
        img {
            width: 0.666667rem;
            height: 0.666667rem;
            vertical-align: middle;
            margin-right: 0.333333rem;
        }
        .user-name {
            color: #666;
            font-size: 0.32rem;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            line-height: 0.666667rem;
        }
        .date {
            color: #666;
            display: inline-block;
            text-align: right;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            line-height: 0.666667rem;
            font-size: 0.32rem;
        }
    }
    .comment-cnt {
        padding: 0.1rem .4rem 0;
        overflow: hidden;
        p {
            line-height: 1.5em;
            margin-bottom: .3rem;
        }
        .comment-pct {
            margin-bottom: 0.333333rem;
            img {
                width: 100%;
            }
        }
    }
}

.pct-overflow {
    overflow: visible !important;
    height: 100% !important;
}

.hidden-pct {
    height: 4.133333rem;
    overflow: hidden;
}

.questions-list {
    padding: .333333rem;
    width: 9.333333rem;
    background-color: #fbfbfb;
}

.question {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.4rem;
    border-radius: 5px;
    font-size: 0.293333rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.question-hd {
    padding: 0.4rem .4rem 0;
    display: -webkit-flex;
    display: flex;
    .question-name {
        font-size: 16px;
        color: $red;
        -webkit-box-flex: 4;
        -moz-box-flex: 4;
        -webkit-flex: 4;
        -ms-flex: 4;
        flex: 4;
        width: 7.333333rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .date {
        color: #666;
        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        text-align: right;
    }
}

.question-cnt {
    padding: 0.1rem .4rem 0;
    p {
        line-height: 1.5em;
        margin-bottom: .3rem;
    }
    .question-pct {
        height: 4.133333rem;
        overflow: hidden;
        margin-bottom: 0.333333rem;
        img {
            width: 100%;
        }
    }
    .question-pct-full {
        height: auto;
        margin-bottom: 0.333333rem;
        img {
            width: 100%;
        }
    }
}

.question-ft {
    border-top: 1px solid #eee;
    a {
        display: inline-block;
        width: 50%;
        height: 1.133333rem;
        line-height: 1.133333rem;
        text-align: center;
        font-size: 16px;
        &:before {
            margin-right: 8px;
        }
        &:active {
            color: $red;
        }
    }
}

.go-rate {
    color: #999;
    font-size: 0.346667rem;
    background-color: #eee;
    line-height: 0.933333rem;
    padding-left: 0.2rem;
    display: block;
    text-indent: 5em;
    .icon-28 {
        margin-left: 0.2rem;
    }
}

.ui-upload {
    position: relative;
    cursor: pointer;
    color: #888;
    overflow: hidden;
    display: block;
    text-align: center;
    input[type="file"] {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }
    &:active {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }
}

#ask {
    padding-top: 0.333333rem;
}

.text-area {
    width: 9.333333rem;
    height: 3.333333rem;
    font-size: 0.213333rem;
}

.menu-list {
    background-color: #fbfbfb;
    .icon-more {
        position: relative;
        &:after {
            position: absolute;
            right: 0.45rem;
            top: 38%;
            display: block;
        }
    }
    header {
        background-color: #fff;
    }
    section {
        margin-top: 0.4rem;
        font-size: 0.266667rem;
    }
    .menu-item {
        background-color: #fff;
        padding: 0.333333rem;
        display: block;
        overflow: hidden;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: 0;
        }
        .menu-exinfo {
            float: right;
            margin-right: 0.7rem;
            color: $blue;
        }
        &:before {
            margin-right: 0.666667rem;
            font-size: 0.4rem;
        }
        .portrait {
            float: left;
            width: 1.733333rem;
            height: 1.733333rem;
            img {
                border-radius: 1.333333rem;
                width: 100%;
            }
        }
        .base-info {
            float: left;
            margin-left: 0.333333rem;
            h6 {
                padding-top: 0.16rem;
                font-size: 0.45rem;
            }
            p {
                padding-top: 0.16rem;
                span {
                    display: inline-block;
                }
            }
        }
    }
}

.more-app {
    a {
        padding: .333333rem 0;
        text-align: center;
        display: inline-block;
        width: 100/3 * 1%;
        &:before {
            color: $blue;
            vertical-align: middle;
            font-size: 0.4rem;
            margin-right: 0.16rem;
        }
    }
}

.tip {
    line-height: 1.5em;
    color: #666;
}

.upload-panel {
    background-color: #eee;
    padding-top: 0.333333rem;
    height: 3.266667rem;
    .ui-upload {
        .icon-46 {
            font-size: 1.306667rem;
        }
        input[type="file"] {
            height: 2.266667rem;
            width: 100%;
        }
        .icon-desc {
            display: block;
        }
    }
}

.list {
    .dd-padding {
        padding: 0.333333rem;
    }
}

.user-info {
    background-color: #fbfbfb;
    &>dd {
        margin-bottom: 0.4rem;
        background-color: #fff;
        .list .kv-line {
            border-bottom: 1px solid #eee;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.kv-line {
    display: -webkit-flex;
    display: flex;
    position: relative;
    color: #666;
    align-items: center;
    font-size: 14px;
    h6 {
        color: #666;
        margin-right: 0.333333rem;
        width: 1.733333rem;
        white-space: nowrap;
    }
    .kv-v {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .portrait {
        img {
            float: right;
            width: 1.333333rem;
            height: 1.333333rem;
            border-radius: 1.333333rem;
        }
    }
    .icon-more {
        color: #666;
        &:after {
            color: #666;
            position: absolute;
            font-size: 0.213333rem;
            right: .45rem;
        }
    }
}

.wechat-code {
    width: 60%;
}

.input-weak {
    height: 1rem;
    border-radius: 0.066667rem;
    margin: -.15rem 0;
    text-indent: .1rem;
    line-height: 1;
    font-size: .3rem;
    background-color: #fff;
    &:focus {
        background-color: #eee;
    }
}

.static-input {
    border: none !important;
    background-color: #fff !important;
    color: #4EB6EC !important;
}

.show-picker {
    border: none !important;
    background-color: #fff !important;
    color: #333 !important;
    line-height: inherit !important;
}

.hidden-input {
    display: none;
}

.order-nav {
    .nav-item {
        width: 25%;
        display: inline-block;
        line-height: 1.333333rem;
        text-align: center;
        &:active {
            color: $blue;
        }
        .item-num {
            color: $blue;
        }
    }
    .current {
        color: $blue;
    }
}

.order-info {
    font-size: 0.213333rem;
    background-color: #f6f6f6;
    padding: 0.2rem;
    overflow: hidden;
    .price {
        i {
            color: $red;
        }
    }
    .order-statu {
        float: right;
        color: $red;
        display: inline-block;
    }
}

.file-name {
    width: 0;
    height: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}

.wallet-panel {
    .balance {
        background-color: $blue;
        text-align: center;
        height: 3.466667rem;
        h1 {
            padding: 0.666667rem 0;
            color: #fff;
            font-size: 0.72rem;
            font-weight: bold;
        }
        .bill-details {
            color: #fff;
            padding: 0.133333rem 0.666667rem;
            border: 1px solid #fff;
            display: inline-block;
        }
    }
    .recharge-button {
        a {
            display: inline-block;
            width: 50%;
            background-color: #eee;
            text-align: center;
            line-height: 0.733333rem;
            &:active {
                background-color: #D8D8D8;
            }
        }
    }
}

.mui-plus header.mui-bar {
    display: none
}

.mui-plus .mui-bar-nav~.mui-content {
    padding: 0
}

.hm-description {
    margin: .5em 0
}

.hm-description>li {
    font-size: 14px;
    color: #8f8f94
}


/**
 * 选择列表插件
 * varstion 2.0.0
 * by Houfeng
 * Houfeng@DCloud.io
 */

.mui-picker {
    background-color: #ddd;
    position: relative;
    height: 200px;
    overflow: hidden;
    border: solid 1px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.mui-picker-inner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(top, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
}

.mui-pciker-list,
.mui-pciker-rule {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -18px;
}

.mui-pciker-rule-bg {
    z-index: 0;
    /*background-color: #cfd5da;*/
}

.mui-pciker-rule-ft {
    z-index: 2;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/
}

.mui-pciker-list {
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
}

.mui-pciker-list li {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: #888;
    padding: 0px 8px;
    white-space: nowrap;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    visibility: hidden;
}

.mui-pciker-list li.highlight,
.mui-pciker-list li.visible {
    visibility: visible;
}

.mui-pciker-list li.highlight {
    color: #222;
}

.mui-poppicker {
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 999;
    background-color: #eee;
    border-top: solid 1px #ccc;
    box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s;
    bottom: 0px;
    -webkit-transform: translateY(300px);
}

.mui-poppicker.mui-active {
    -webkit-transform: translateY(0px);
}

.mui-android-5-1 .mui-poppicker {
    bottom: -300px;
    -webkit-transition-property: bottom;
    -webkit-transform: none;
}

.mui-android-5-1 .mui-poppicker.mui-active {
    bottom: 0px;
    -webkit-transition-property: bottom;
    -webkit-transform: none;
}

.mui-poppicker-header {
    padding: 6px;
    font-size: 14px;
    color: #888;
}

.mui-poppicker-header .mui-btn {
    font-size: 12px;
    padding: 5px 10px;
}

.mui-poppicker-btn-cancel {
    float: left;
}

.mui-poppicker-btn-ok {
    float: right;
}

.mui-poppicker-clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    overflow: hidden;
}

.mui-poppicker-body {
    position: relative;
    width: 100%;
    height: 200px;
    border-top: solid 1px #ddd;
    /*-webkit-perspective: 1200px;
    perspective: 1200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}

.mui-poppicker-body .mui-picker {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: none;
    float: left;
}

.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\0020";
    clear: both;
    height: 0;
}

.dis-none {
    display: none;
}

.none {
    display: block;
    width: 100%;
    background-color: #fff;
    figcaption {
        color: #999;
        font-size: 0.266667rem;
        text-align: center;
        padding: 0.5rem 0;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 60%;
    }
}

.log {
    text-align: center;
    margin: 0.33333rem;
    img {
        width: 2.6rem;
    }
}

.copyright {
    font-size: 12px;
    text-align: center;
    padding: 0.33333rem 0;
    p {
        line-height: 1.5em;
    }
}

.fn-clear {
    *zoom: 1;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fn-center {
    text-align: center;
}
