html {
    font-size: 75px;

    min-width: 320px;

    background-color: #fbfbfb;
}

body {
    font-family: 'Microsoft YaHei', '黑体', '宋体', 'Open Sans', sans-serif;
}

a {
    color: #666;
}

p {
    color: #333;
}

textarea {
    overflow-y: hidden;

    max-height: 3.333333rem;

    color: #666;
    border: 0;
    border-radius: 5px;
}

textarea:focus,
textarea:active {
    border: 0;
    outline: 0;
}

.container {
    font-size: .213333rem;

    max-width: 750px !important;
    margin: 0 auto;
}

.content {
    margin-bottom: 2rem;
}

.bg-gray {
    background-color: #fbfbfb;
}

$blue: #0095ff;
$red: #ef4746;
$yellow: #f18c39;
.banner {
    img {
        width: 100%;
    }
}

@mixin top-nav($bgColor, $color) {
    font-size: .346667rem;
    line-height: 1.3rem;

    position: relative;

    display: -webkit-box;
    display: -ms-box;

    height: 1.3rem;

    background-color: $bgColor;
    a {
        font-size: .4rem;

        color: $color;
    }
    .nav-wrap-left {
        position: absolute;
        left: 0;
        a {
            display: inline-block;
            span {
                margin-right: .2rem;
                margin-left: .2rem;
            }
        }
    }
    .nav-wrap-right {
        position: absolute;
        right: 0;
        a {
            display: inline-block;
            span {
                margin-right: .2rem;
                margin-left: .2rem;
            }
        }
    }
    .nav-header {
        display: block;

        text-align: center;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        h1 {
            color: #666;
        }
        .search-bar-r {
            .search {
                width: 7rem;
            }
        }
    }
}

.top-nav {
    border-bottom: 1px solid $blue;

    @include top-nav(#fff, $blue);
}

.top-nav-link {
    font-size: .346667rem;
    line-height: 1.3rem;

    height: 1.3rem;
    .sub-nav-3 {
        width: 94%;
        padding: 0 3%;
        .nav-item {
            font-size: .4rem;
            line-height: 1.3rem;

            width: 30%;
            height: 1.3rem;
            margin-right: 5%;

            color: #666;
            border-right: none;
            border-bottom: 1px solid #fff;
            &:last-child {
                margin-right: 0;
            }
            &:active {
                color: $blue;
                border-bottom: 1px solid $blue;
            }
        }
        .current {
            color: $blue;
            border-bottom: 1px solid $blue;
        }
    }
}

.top-nav-index {
    @include top-nav($blue, #fff);
    .search-bar {
        position: relative;

        overflow: hidden;

        margin: .3rem auto 0rem;
        .search {
            font-size: .293333rem;
            line-height: .64rem;

            float: left;

            box-sizing: border-box;
            width: 4.266667rem;
            height: .64rem;

            text-indent: .6rem;

            color: #fff;
            border: 1px solid #fff;
            background: $blue;
        }
        .icon-search {
            font-size: .26rem;
            font-style: normal;
            line-height: .64rem;

            position: absolute;
            left: .2rem;

            display: inline-block;

            vertical-align: middle;
        }
        .icon-21 {
            &:before {
                color: #fff;
            }
        }
        button {
            font-size: .293333rem;

            float: left;

            width: 1.2rem;
            height: .64rem;

            color: $blue;
            border: 1px solid #fff;
            background-color: #fff;
        }
        input::input-placeholder {
            color: #fff;
        }
        input::-webkit-input-placeholder {
            color: #fff;
        }
        input::-moz-input-placeholder {
            color: #fff;
        }
        input::-ms-input-placeholder {
            color: #fff;
        }
    }
}

.focus {
    position: relative;

    overflow: hidden;

    width: 100%;
    min-width: 320px;
    max-width: 750px;
    height: 2.333333rem;
    margin: 0 auto;
}

#focus .hd {
    position: absolute;
    z-index: 1;
    bottom: .266667rem;

    width: 100%;
    height: .2rem;

    text-align: center;
}

#focus .hd ul {
    font-size: 0;

    display: inline-block;

    vertical-align: top;

    opacity: .4;
}

#focus .hd ul li {
    display: inline-block;

    width: .16rem;
    height: .16rem;
    margin: 0 .1rem;

    vertical-align: top;

    -webkit-border-radius: .133333rem;
    -moz-border-radius: .133333rem;
    border-radius: .133333rem;
    background: #8c8c8c;
}

#focus .hd ul .on {
    background: $blue;
}

#focus .bd {
    position: relative;
    z-index: 0;
}

.focus .bd li img {
    position: url(images/loading.gif) center center no-repeat;

    width: 100%;
    height: 2.333333rem;
}

#focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.category-nav {
    overflow: hidden;

    padding-top: .2rem;
    padding-bottom: .2rem;
    .nav-item {
        display: block;
        float: left;

        box-sizing: border-box;
        width: 20%;

        text-align: center;
        a {
            // padding: .2rem 0 0 0;
            display: inline-block;
        }
        &:nth-child(5)~li {
            margin-top: .2rem;
        }
    }
    span {
        display: block;

        text-align: center;
    }
    .category-icon {
        font-size: .7rem;

        display: block;

        width: 1.2rem;
        height: 1.2rem-.25rem;
        margin: auto;
        margin-bottom: .05rem;
        padding-top: .25rem;

        border-radius: 10rem;
        &:before {
            color: #fff !important;
        }
    }
}

.icon-desc {
    font-size: .24rem;

    color: #666;
}

.icon-1 {
    background-color: #0095ff;
}

.icon-2 {
    background-color: #ff8056;
}

.icon-3 {
    background-color: #f18c39;
}

.icon-4 {
    background-color: #3ccba0;
}

.icon-5 {
    background-color: #ff827a;
}

.icon-6 {
    background-color: #ff8056;
}

.icon-7 {
    background-color: #3ccba0;
}

.icon-8 {
    background-color: #f18c39;
}

.icon-9 {
    background-color: #ff8056;
}

.icon-10 {
    background-color: #0095ff;
}

.nav-teacher {
    overflow: hidden;
    a {
        font-size: .333333rem;
        line-height: 1.333333rem;

        display: inline-block;
        float: left;

        width: 50%;
        height: 1.333333rem;

        text-align: center;

        color: #fff;
        &:before {
            color: #fff;
        }
    }
    .icon-11 {
        background-color: $blue;
    }
    .icon-12 {
        background-color: $red;
    }
}

@mixin title {
    line-height: .533333rem;

    position: relative;

    height: .533333rem;
    padding: .16rem 0;
    i {
        line-height: .533333rem;

        display: inline-block;

        height: .533333rem;

        vertical-align: top;
    }
}

.adv-title {
    line-height: .533333rem;

    position: relative;

    height: .533333rem;
    padding: .16rem 0;
    i {
        line-height: .533333rem;

        display: inline-block;

        height: .533333rem;

        vertical-align: top;
    }
    .color-icon {
        width: .066667rem;

        background-color: $red;
    }
}

// @mixin n-items($n) {
//     &:first-child:nth-last-child(#{$n}),
//     &:first-child:nth-last-child(#{$n}) ~ a {   
//         $navNum: 100 / $n;
//         $navWid : $navNum * 1%;
//         width: $navWid;
//     }
// }
@mixin sub-nav($bdColor: $blue) {
    overflow: hidden;

    width: 100%;

    background-color: #fff;
    .nav-item {
        line-height: .666667rem;

        float: left;

        box-sizing: border-box;
        height: .666667rem;

        text-align: center;

        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-right: none;
        }
        &:active {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $bdColor;
        }
    }
    .current {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $bdColor;
    }
}

.sub-nav-5 {
    @include sub-nav($blue);
    .nav-item {
        width: 20%;
    }
}

.sub-nav-4 {
    @include sub-nav($blue);
    .nav-item {
        width: 25%;
    }
}

.sub-nav-3 {
    @include sub-nav($blue);
    .nav-item {
        width: 100 / 3 * 1%;
    }
}

.hd-title {
    border-top: 1px solid #eee;

    @include title;
    .more {
        float: right;
    }
    .title {
        &:before {
            font-size: .4rem;

            margin-right: .106667rem;

            vertical-align: top;
        }
    }
}

.f-teacher {
    .title {
        &:before {
            color: $blue;
        }
    }
    .sub-nav {
        .current {
            border-bottom-color: $red;
        }
    }
}

.color-red {
    color: $red;
}

.f-organ {
    .title {
        &:before {
            color: $yellow;
        }
    }
    .sub-nav {
        .current {
            border-bottom-color: $yellow;
        }
    }
}

.f-course {
    .adv-title {
        .color-icon {
            background-color: $blue;
        }
    }
    .title {
        &:before {
            color: $blue;
        }
    }
    .sub-nav {
        .current {
            border-bottom-color: $blue;
        }
    }
}

.grey {
    padding: .133333rem;

    border: 1px solid #eee;
}

.blue {
    padding: .133333rem;

    color: #fff;
    background-color: $blue;
    &:before {
        margin-right: .106667rem;

        vertical-align: top;
    }
}

.category-items {
    padding: .266667rem .266667rem 0 .266667rem;

    background-color: #fbfbfb;
    .items {
        font-size: .24rem;
        .item-info {
            overflow: hidden;

            padding: .133333rem;
            .item-pct {
                float: left;

                width: 2.666667rem;
                height: 2.666667rem;
                img {
                    width: 100%;
                }
            }
            .item-detail {
                float: left;

                margin-left: .266667rem;
                h6 {
                    font-size: .466667rem;
                }
                p {
                    margin: .133333rem 0;
                    span {
                        display: inline-block;
                    }
                    .grade {
                        color: $red;
                    }
                    .visit-num {
                        color: $red;
                    }
                    .price {
                        color: $red;
                    }
                    .apply-num {
                        color: $red;
                    }
                }
            }
        }
        .item {
            margin: .2rem 0;

            border: 1px solid #eee;
            background-color: #fff;
        }
        .course {
            overflow: hidden;

            padding: .133333rem;

            border-top: 1px solid #eee;
            .course-type {
                float: left;

                width: 2.666667rem;

                text-align: right;
                .grey {
                    display: inline-block;
                }
            }
            .course-info {
                float: left;

                margin-left: .266667rem;
            }
            .course-sub {
                display: -webkit-flex;
                display: flex;
                span {
                    line-height: 2em;
                }
            }
            .study-num {
                display: block;

                text-align: right;

                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            .price {
                color: $red;
            }
            .course-name {
                font-size: .333333rem;

                overflow: hidden;

                width: 5.6rem;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.course-items {
    padding: .266667rem .266667rem 0 .266667rem;

    background-color: #fbfbfb;
    .read-more {
        font-size: .3rem;
        line-height: .6rem;

        display: block;

        text-align: center;

        background-color: #fff;
    }
    .items {
        font-size: .24rem;
    }
    .item {
        margin-bottom: .2rem; // padding: 0.2rem;
        background-color: #fff;
        &:last-child {
            margin-bottom: 0;
        }
        .item-info {
            overflow: hidden;
        }
        .item-pct {
            float: left;

            width: 3.333333rem;
            height: 2.266667rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .item-detail {
            float: left;

            width: 5.3rem;
            margin-left: .2rem;
            p {
                line-height: 1.5em;
                &:before {
                    margin-right: 5px;
                }
            }
            .play-num,
            .price,
            .study-num {
                color: $red;
            }
            .icon-26 {
                display: -webkit-flex;
                display: flex;
            }
            .price {
                display: block;

                text-align: right;

                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            .course-type {
                font-size: .3rem;

                margin-right: .2rem;
                padding: 0 .1rem;

                color: $blue;
                border: 1px solid $blue;
            }
            .course-name {
                font-size: .466667rem;
                line-height: 1.5em;

                overflow: hidden;

                width: 5.3rem;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.adv-bar {
    width: 100%;
    margin: .2rem 0;
    img {
        width: 100%;
    }
}

.items-lr {
    overflow: hidden;
    .item {
        float: left;

        width: 48%;
        margin-top: .266667rem;

        background-color: #fff;
        .course-type {
            display: inline-block;

            padding: 0 .066667rem;

            color: $blue;
            border: 1px solid #{$blue};
            border-radius: .066667rem;
        }
        &:nth-child(odd) {
            margin-right: 4%;
        }
        .item-pct {
            img {
                width: 100%;
            }
        }
        .item-caption {
            padding: .133333rem;
            p {
                line-height: 1.5em;

                width: 4.266667rem;
            }
            .course-sub {
                display: flex;
                display: -webkit-flex;
            }
            .price {
                display: block;

                text-align: right;

                color: $red;

                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
        }
    }
}

.recommend {
    padding: .16rem 0;

    text-align: center;

    color: $blue;
}

.fn-ellipsis {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin bot-nav {
    position: fixed;
    bottom: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    max-width: 750px;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    align-content: center;
    .button-nav,
    a {
        display: block;

        box-sizing: border-box;
        height: 1.133333rem;

        text-align: center;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.bot-nav-answer {
    position: fixed;
    bottom: 0;

    width: 10.0rem;
    padding: .333333rem;

    background-color: #eee;
    form {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .ui-upload {
        margin-right: .333333rem;
        .icon-46 {
            font-size: .533333rem;

            display: inline-block;

            width: .8rem;
            height: .7rem;
            padding-top: .1rem;

            border: 1px solid #ddd;
            border-radius: .666667rem;
            background: #fafafa;
        }
        input[type='file'] {
            height: .8rem;
        }
    }
    textarea {
        font-size: .293333rem;

        width: 6.266667rem;
        min-height: .866667rem;
        padding: 0;

        border: 0;
        border-radius: 5px;
        background-color: #fff;
    }
    button {
        font-size: .293333rem;

        width: 1.333333rem;
        height: .866667rem;
        margin: 0 .333333rem;

        color: #666;
        border-radius: 5px;
    }
}

.bot-nav-send {
    position: fixed;
    bottom: 0;

    width: 10.0rem;
    padding: .333333rem;

    background-color: #eee;
    form {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    textarea {
        font-size: .293333rem;

        width: 7.6rem;
        min-height: .866667rem;
        padding: 0;

        border: 0;
        border-radius: 5px;
        background-color: #fff;
    }
    button {
        font-size: .293333rem;

        width: 1.333333rem;
        height: .866667rem;
        margin: 0 .333333rem;

        color: #666;
        border-radius: 5px;
    }
}

.bot-nav-2 {
    height: 1.133333rem;

    @include bot-nav;
    .button-nav {
        font-size: .4rem;
        line-height: 1.133333rem;

        display: inline-block;

        color: #666;
        background-color: #fff;
        &:before {
            margin-right: .2rem;
        }
        &:only-child {
            color: #fff;
            background-color: $red;
        }
        &:last-child:nth-child(2) {
            color: #fff;
            background-color: $red;
        }
    }
}

.detail-intro {
    padding: .266667rem .266667rem 0 .266667rem;

    background-color: #fbfbfb;
}

.bot-nav {
    height: 1.133333rem;
    padding-top: .133333rem;

    background: #eee;

    @include bot-nav;
    a {
        color: #606060;
        .bot-icon {
            font-size: .4rem;
            line-height: .6rem;

            display: block;

            width: 100%;
            &:before {
                font-size: .4rem;
            }
        }
        .icon-desc {
            font-size: .35rem;
        }
    }
    .current {
        color: $blue;
        p {
            color: $blue;
        }
    }
}

.ew-nav {
    line-height: .733333rem;

    display: inline-block;

    width: 5.6rem;
    height: .733333rem;

    letter-spacing: -999px;

    border: 1px solid $blue;
    border-radius: 3px;
    .nav-item {
        line-height: .733333rem;

        display: inline-block;

        width: 50%;
        height: 100%;

        letter-spacing: 0;
    }
    .current {
        color: #fff;
        background-color: $blue;
    }
}

.table {
    overflow: hidden;

    border: 1px solid #ddd8ce;
    border-radius: .06rem;
    background-color: #fdfdfc;
    li {
        font-size: .28rem;
        line-height: .8rem;

        position: relative;
        z-index: 10;

        display: inline-block;
        float: left;

        box-sizing: border-box;
        width: 25%;
        height: .8rem;
        margin-bottom: -1px;

        text-align: center;

        border-right: 1px solid #ddd8ce;
        border-bottom: 1px solid #ddd8ce;
        &:nth-child(4n) {
            border-right: none;
        }
        a {
            display: inline-block;

            width: 100%;
            &:active {
                background-color: #eee;
            }
        }
    }
}

.main-menu {
    float: left;

    width: 2.533333rem;
    margin-right: .333333rem;
    h3 {
        font-size: .4rem;
        line-height: 1.066667rem;

        text-align: center;

        color: $red;
    }
    ul {
        border: 1px solid #d4d4d4;
        li {
            font-size: .266667rem;
            line-height: 1.066667rem;

            height: 1.066667rem;

            cursor: pointer;
            text-align: center;

            border-bottom: 1px solid #d4d4d4;
            background-color: #eee;
            &:last-child {
                border-bottom: none;
            }
        }
        .current {
            background: #fff;
        }
    }
}

.sub-menu {
    float: left;
    h3 {
        font-size: .266667rem;
        line-height: .333333rem;

        width: auto;
        height: .333333rem;
        margin-bottom: .2rem;
        padding: .16rem;
    }
}

.sub-menu .subject-table {
    overflow: hidden;

    width: 6.666667rem;

    border: 1px solid #d4d4d4;
    border-radius: .06rem;
    background-color: #fdfdfc;
    li {
        font-size: .28rem;
        line-height: .8rem;

        position: relative;
        z-index: 10;

        display: inline-block;
        float: left;

        box-sizing: border-box;
        width: 33.3%;
        height: .8rem;
        margin-bottom: -1px;

        text-align: center;

        border-right: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        &:nth-child(3n) {
            border-right: none;
        }
        a {
            display: inline-block;

            width: 100%;

            color: #333;
            &:active {
                background-color: #eee;
            }
        }
    }
}

#appoint {
    overflow: hidden;

    text-align: center;
    dl {
        dd {
            padding: .133333rem;
            input {
                font-size: .333333rem;

                height: 1.2rem;

                text-align: center;

                border: 1px solid #eee;
                border-radius: 5px;
            }
            input[type='submit'] {
                width: 100%;

                color: #fff;
                border: none;
                background-color: $red;
            }
        }
        dd:nth-child(1) {
            overflow: hidden;
            input {
                float: left;

                box-sizing: border-box;
                width: 48%;
                &:nth-child(odd) {
                    margin-right: 4%;
                }
            }
        }
        dd:nth-child(2) {
            input {
                width: 100%;
            }
        }
    }
}

.article-guide {
    section {
        padding: .266667rem;
        padding-bottom: .333333rem;
        h1 {
            font-size: 18px;
            line-height: 1.5em;
        }
        h2 {
            font-size: .266667rem;
            line-height: 1.5em;
        }
        h3 {
            font-size: 16px;

            color: $blue;
        }
        p {
            font-size: .266667rem;
            line-height: 1.5em;
        }
        figure {
            width: 80%;
            margin: .6rem auto;

            text-align: center;
            img {
                width: 50%;
            }
            figcaption {
                h2 {
                    font-size: 18px;
                }
            }
        }
    }
    .adv-bar {
        width: 100%;
        height: 3.733333rem;

        text-align: center;

        color: #fff;
        background-image: url('../images/adv2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        h1 {
            font-size: .533333rem;
        }
        h2 {
            font-size: .466667rem;
        }
    }
}

@mixin step {
    margin: .6rem auto;

    text-align: center;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    h1 {
        font-size: .6rem;

        color: #fff;
    }
}

.step1 {
    width: 6.533333rem;
    height: 3.413333rem;

    background-image: url(../images/radius-rect1.png);

    @include step;
    h1 {
        line-height: 2rem !important;
    }
}

.step2 {
    width: 6.533333rem;
    height: 3.413333rem;

    background-image: url(../images/radius-rect2.png);

    @include step;
    h1 {
        line-height: 1.5em !important;

        padding: .45rem 0;
    }
}

.step3 {
    width: 6.533333rem;
    height: 3.413333rem;

    background-image: url(../images/radius-rect3.png);

    @include step;
    h1 {
        line-height: 2rem !important;
    }
}

.step4 {
    width: 6.533333rem;
    height: 3.413333rem;

    background-image: url(../images/radius-rect4.png);

    @include step;
    h1 {
        line-height: 1rem !important;

        padding: .45rem 0;
    }
}

.info-items {
    padding: .266667rem .266667rem 0;

    background-color: #fbfbfb;
    .box-item {
        background-color: #fff;
    }
    .sub-nav {
        .nav-item {
            border-bottom: 1px solid #fff;
            &:active {
                color: $blue;
                border-bottom: 1px solid $blue;
            }
        }
        .current {
            color: $blue;
            border-bottom: 1px solid $blue;
        }
    }
    section {
        padding: .333333rem;

        color: #666;
        border-bottom: 1px solid #eee;
        p {
            line-height: 1.5em;

            text-indent: 2em;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.detail-info {
    background-color: #fff;
    section {
        dl {
            dt {
                font-size: .4rem;

                color: #000;
            }
            dd {
                display: -webkei-flex;
                display: flex;

                padding: .1rem 0;
                h4 {
                    line-height: 1.5em;

                    margin-right: .2rem;
                }
                p {
                    text-indent: 0;

                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
            }
        }
    }
}

.order-list {
    .item {
        padding: .1rem .333333rem;

        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
        }
        p {
            line-height: 2em;

            color: #666;
        }
        .order-name {
            font-size: .293333rem;
        }
        .order-success {
            text-align: right;

            color: $red;
        }
        .order-num {
            display: inline-block;

            width: 50%;

            color: $red;
        }
        .date {
            display: inline-block;

            width: 50%;

            text-align: right;
        }
    }
}

.tab-box {
    .box-item {
        display: none;
    }
    .current {
        display: block;
    }
}

.color-red {
    color: $red;
}

#location-city {
    font-size: .266667rem;
}

#searchCity {
    position: relative;
    .search {
        text-align: center;
    }
}

.search-bar-r {
    .search {
        font-size: .28rem;

        box-sizing: border-box;
        width: 7.866667rem;
        height: .933333rem;
        padding-left: 8px;

        border-radius: 5px;
        background-color: #eee;
    }
    .icon-21 {
        &:before {
            color: #999;
        }
    }
    .search-btn {
        font-size: .28rem;

        height: .933333rem;
        padding-right: .266667rem;
        padding-left: .266667rem;

        color: #999;
        border-radius: 5px;
        background-color: #eee;
    }
    input::input-placeholder {
        color: #999;
    }
    input::-webkit-input-placeholder {
        color: #999;
    }
    input::-moz-input-placeholder {
        color: #999;
    }
}

.input-text,
.btn:active {
    box-shadow: 3px 3px 8px rgba(70, 70, 70, .1) inset, -3px -3px 8px rgba(70, 70, 70, .1) inset;
}

.table-list {
    .title {
        font-size: .28rem;

        height: .8rem;

        background-color: #eee;
        h3 {
            line-height: .8rem;

            text-indent: .266667rem;

            color: #666;
        }
    }
    .box {
        font-size: .28rem;

        padding: .266667rem;
    }
}

.introduce {
    overflow: hidden;

    padding: .266667rem;
    .portrait {
        float: left;

        width: 2.6rem;
        height: 2.6rem;
        img {
            width: 100%;

            border-radius: 1.333333rem;
        }
    }
    .base-info {
        float: left;

        width: 6.5rem;
        margin-left: .333333rem;
        h6 {
            font-size: .466667rem;
        }
        p {
            line-height: 1.4em;

            margin: .15rem 0;
            span {
                display: inline-block;
            }
        }
        .grade {
            color: $red;
        }
    }
}

.video {
    width: 100%;
    .vjs-default-skin {
        width: 100%;
        height: 6.266667rem;
    }
    .vjs-poster {
        background-size: 100%;
    }
}

@mixin bd-bot {
    border-bottom: 1px solid #eee;
    &:last-child {
        border-bottom: none;
    }
}

.rate-items {
    .item {
        overflow: hidden;

        padding: .2rem;

        @include bd-bot;
        .item-pct {
            float: left;

            width: 1.333333rem;
            height: 1.333333rem;
            margin-right: .2rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .item-detail {
            float: left;

            width: 7.333333rem;
        }
        .user-rated {
            overflow: hidden;
            .user-name {
                line-height: .35rem;

                float: left;

                margin-right: .2rem;
            }
            .rated {
                line-height: .35rem;

                float: left;
            }
        }
        .date {
            line-height: .35rem;

            float: right;

            color: #666;
        }
    }
    .course-name {
        color: #666;
    }
    p {
        line-height: 1.5em;
    }
}

.star-rated {
    position: relative;

    width: 1.615rem;
    height: .35rem;

    background-image: url(../images/starky.png);
    background-repeat: repeat-x;
    background-size: .333333rem .333333rem;
}

.star-rated span {
    position: absolute;

    width: 1.615rem;
    height: .35rem;

    background-image: url(../images/starsy.png);
    background-repeat: repeat-x;
    background-size: .333333rem .333333rem;
}

.course-nav {
    padding: .266667rem;

    background-color: #fff;
    .nav-item {
        font-size: .346667rem;

        margin-right: .3rem;
        padding: .053333rem .16rem;
        &:last-child {
            margin-right: 0;
        }
        &:active {
            color: #fff;
            background-color: $red;
        }
    }
    .all {
        font-size: .346667rem;

        padding: .053333rem .16rem;
        &:active {
            color: $red;
        }
    }
    .all.current {
        color: $red;
        background: none;
    }
    .current {
        color: #fff;
        background-color: $red;
    }
}

.cut-line {
    font-size: .346667rem;

    margin: 0 .2rem;

    color: $red;
}

.group-info {
    overflow: hidden;

    padding: .3rem .4rem;

    color: #333;
    background-color: #fbfbfb;
    .item-pct {
        float: left;

        width: 1.333333rem;
        height: 1.333333rem;
        img {
            width: 100%;
        }
    }
    .item-detail {
        float: left;

        margin-left: .266667rem;
        h6 {
            font-size: .466667rem;
        }
        p {
            line-height: 1.5em;
        }
    }
    .publish {
        float: right;

        padding: .3rem 0;
        .btn {
            display: inline-block;
        }
    }
}

.topcis-list {
    li {
        padding: .3rem .4rem;

        border-bottom: 1px solid #eee;
        p {
            padding: .1rem 0;
        }
        .topci-title {
            font-size: 16px;

            display: inline-block;
            overflow: hidden;

            width: 6.533333rem;

            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .date {
            float: right;

            color: #666;
        }
        .topci-content {
            font-size: .24rem;

            overflow: hidden;

            width: 6.533333rem;

            white-space: nowrap;
            text-overflow: ellipsis;

            color: #666;
        }
        .comment-num {
            margin-right: .4rem;

            color: #666;
            &:before {
                font-size: .3rem;

                margin-right: .16rem;

                vertical-align: bottom;
            }
        }
        .agree-num {
            color: #666;
            &:before {
                font-size: .3rem;

                margin-right: .16rem;

                vertical-align: bottom;
            }
        }
    }
}

#getCode {
    width: 2.666667rem;
    margin-left: .2rem;
}

.btn {
    font-size: .266667rem;

    height: 1rem;
    padding: .2rem .333333rem;

    border-radius: 5px;
}

.large-btn {
    width: 100%;
}

.red-btn {
    color: #fff;
    background-color: $red;
}

.blue-btn {
    color: #fff;
    background-color: $blue;
}

.btn-wrapper {
    padding: .333333rem;
}

.sub-nav-c {
    text-align: center;
    .nav-item {
        font-size: .4rem;

        display: inline-block;

        width: 2.0rem;
        margin-right: .666667rem;
        padding: .333333rem 0;
        &:last-child {
            margin-right: 0;
        }
    }
    .current {
        color: $blue;
        border-bottom: 1px solid $blue;
    }
}

.topics-group {
    .items {
        .item {
            padding: .3rem .4rem;

            border-top: 1px solid #eee;
        }
    }
    .item-info {
        overflow: hidden;
        .item-pct {
            float: left;

            width: 1.333333rem;
            height: 1.333333rem;
            img {
                width: 100%;
            }
        }
        .item-detail {
            float: left;

            margin-left: .266667rem;
            h6 {
                font-size: .466667rem;
            }
            p {
                line-height: 1.5em;
            }
        }
    }
}

.topic-article {
    header {
        display: -webkit-flex;
        display: flex;

        padding: .3rem .4rem;

        background-color: #eee;
        img {
            width: .666667rem;
            height: .666667rem;
            margin: 0 .333333rem;

            vertical-align: middle;
        }
        .user-name {
            font-size: .32rem;
            line-height: .666667rem;

            color: #666;

            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .date {
            font-size: .32rem;
            line-height: .666667rem;

            display: inline-block;

            text-align: right;

            color: #666;

            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
    }
    section {
        padding: .4rem;
        h2 {
            font-size: 16px;

            color: #333;
        }
        p {
            font-size: .186667rem;
            line-height: 1.5em;

            padding-top: .266667rem;
        }
    }
}

.tool-bar {
    font-size: .346667rem;
    line-height: .933333rem;

    display: -webkit-flex;
    display: flex;

    padding-left: .2rem;

    background-color: #eee;
    .all-subjects {
        -webkit-box-flex: 8;
        -moz-box-flex: 8;
        -webkit-flex: 8;
        -ms-flex: 8;
        flex: 8;
    }
    .ask {
        font-size: 26px;

        text-align: right;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .answer {
        font-size: 22px;

        margin-left: .533333rem;

        text-align: left;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.comment-list {
    width: 9.333333rem;
    padding: .333333rem;

    background-color: #fbfbfb;
}

.panel-padding {
    padding: .333333rem;
}

.panel-margin {
    margin: .333333rem;
}

.portrait-name-date {
    display: -webkit-flex;
    display: flex;

    padding: .2rem .4rem;
    img {
        width: .666667rem;
        height: .666667rem;
        margin-right: .333333rem;

        vertical-align: middle;
    }
    .user-name {
        font-size: .32rem;
        line-height: .666667rem;

        color: #666;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .date {
        font-size: .32rem;
        line-height: .666667rem;

        display: inline-block;

        text-align: right;

        color: #666;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.comment {
    width: 100%;
    margin-bottom: .4rem;

    border-radius: 5px;
    background-color: #fff;
    &:last-child {
        margin-bottom: 0;
    }
    .comment-hd {
        display: -webkit-flex;
        display: flex;

        padding: .2rem .4rem;
        img {
            width: .666667rem;
            height: .666667rem;
            margin-right: .333333rem;

            vertical-align: middle;
        }
        .user-name {
            font-size: .32rem;
            line-height: .666667rem;

            color: #666;

            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .date {
            font-size: .32rem;
            line-height: .666667rem;

            display: inline-block;

            text-align: right;

            color: #666;

            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
    }
    .comment-cnt {
        overflow: hidden;

        padding: .1rem .4rem 0;
        p {
            line-height: 1.5em;

            margin-bottom: .3rem;
        }
        .comment-pct {
            margin-bottom: .333333rem;
            img {
                width: 100%;
            }
        }
    }
}

.pct-overflow {
    overflow: visible !important;

    height: 100% !important;
}

.hidden-pct {
    overflow: hidden;

    height: 4.133333rem;
}

.questions-list {
    width: 9.333333rem;
    padding: .333333rem;

    background-color: #fbfbfb;
}

.question {
    font-size: .293333rem;

    width: 100%;
    margin-bottom: .4rem;

    border-radius: 5px;
    background-color: #fff;
    &:last-child {
        margin-bottom: 0;
    }
}

.question-hd {
    display: -webkit-flex;
    display: flex;

    padding: .4rem .4rem 0;
    .question-name {
        font-size: 16px;

        overflow: hidden;

        width: 7.333333rem;

        white-space: nowrap;
        text-overflow: ellipsis;

        color: $red;

        -webkit-box-flex: 4;
        -moz-box-flex: 4;
        -webkit-flex: 4;
        -ms-flex: 4;
        flex: 4;
    }
    .date {
        text-align: right;

        color: #666;

        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
}

.question-cnt {
    padding: .1rem .4rem 0;
    p {
        line-height: 1.5em;

        margin-bottom: .3rem;
    }
    .question-pct {
        overflow: hidden;

        height: 4.133333rem;
        margin-bottom: .333333rem;
        img {
            width: 100%;
        }
    }
    .question-pct-full {
        height: auto;
        margin-bottom: .333333rem;
        img {
            width: 100%;
        }
    }
}

.question-ft {
    border-top: 1px solid #eee;
    a {
        font-size: 16px;
        line-height: 1.133333rem;

        display: inline-block;

        width: 50%;
        height: 1.133333rem;

        text-align: center;
        &:before {
            margin-right: 8px;
        }
        &:active {
            color: $red;
        }
    }
}

.go-rate {
    font-size: .346667rem;
    line-height: .933333rem;

    display: block;

    padding-left: .2rem;

    text-indent: 5em;

    color: #999;
    background-color: #eee;
    .icon-28 {
        margin-left: .2rem;
    }
}

.ui-upload {
    position: relative;

    display: block;
    overflow: hidden;

    cursor: pointer;
    text-align: center;

    color: #888;
    input[type='file'] {
        position: absolute;
        top: 0;
        right: 0;

        cursor: pointer;

        opacity: 0;

        filter: alpha(opacity=0);
    }
    &:active {
        text-decoration: none;

        color: #444;
        border-color: #ccc;
        background: #eee;
    }
}

#ask {
    padding-top: .333333rem;
}

.text-area {
    font-size: .213333rem;

    width: 9.333333rem;
    height: 3.333333rem;
}

.menu-list {
    background-color: #fbfbfb;
    .icon-more {
        position: relative;
        &:after {
            position: absolute;
            top: 38%;
            right: .45rem;

            display: block;
        }
    }
    header {
        background-color: #fff;
    }
    section {
        font-size: .266667rem;

        margin-top: .4rem;
    }
    .menu-item {
        display: block;
        overflow: hidden;

        padding: .333333rem;

        border-bottom: 1px solid #eee;
        background-color: #fff;
        &:last-child {
            border-bottom: 0;
        }
        .menu-exinfo {
            float: right;

            margin-right: .7rem;

            color: $blue;
        }
        &:before {
            font-size: .4rem;

            margin-right: .666667rem;
        }
        .portrait {
            float: left;

            width: 1.733333rem;
            height: 1.733333rem;
            img {
                width: 100%;

                border-radius: 1.333333rem;
            }
        }
        .base-info {
            float: left;

            margin-left: .333333rem;
            h6 {
                font-size: .45rem;

                padding-top: .16rem;
            }
            p {
                padding-top: .16rem;
                span {
                    display: inline-block;
                }
            }
        }
    }
}

.more-app {
    a {
        display: inline-block;

        width: 100/3 * 1%;
        padding: .333333rem 0;

        text-align: center;
        &:before {
            font-size: .4rem;

            margin-right: .16rem;

            vertical-align: middle;

            color: $blue;
        }
    }
}

.tip {
    line-height: 1.5em;

    color: #666;
}

.upload-panel {
    height: 3.266667rem;
    padding-top: .333333rem;

    background-color: #eee;
    .ui-upload {
        .icon-46 {
            font-size: 1.306667rem;
        }
        input[type='file'] {
            width: 100%;
            height: 2.266667rem;
        }
        .icon-desc {
            display: block;
        }
    }
}

.list {
    .dd-padding {
        padding: .333333rem;
    }
}

.user-info {
    background-color: #fbfbfb;
    &>dd {
        margin-bottom: .4rem;

        background-color: #fff;
        .list .kv-line {
            border-bottom: 1px solid #eee;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.kv-line {
    font-size: 14px;

    position: relative;

    display: -webkit-flex;
    display: flex;

    color: #666;

    align-items: center;
    h6 {
        width: 1.733333rem;
        margin-right: .333333rem;

        white-space: nowrap;

        color: #666;
    }
    .kv-v {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .portrait {
        img {
            float: right;

            width: 1.333333rem;
            height: 1.333333rem;

            border-radius: 1.333333rem;
        }
    }
    .icon-more {
        color: #666;
        &:after {
            font-size: .213333rem;

            position: absolute;
            right: .45rem;

            color: #666;
        }
    }
}

.wechat-code {
    width: 60%;
}

.input-weak {
    font-size: .3rem;
    line-height: 1;

    height: 1rem;
    margin: -.15rem 0;

    text-indent: .1rem;

    border-radius: .066667rem;
    background-color: #fff;
    &:focus {
        background-color: #eee;
    }
}

.static-input {
    color: #4eb6ec !important;
    border: none !important;
    background-color: #fff !important;
}

.show-picker {
    line-height: inherit !important;

    color: #333 !important;
    border: none !important;
    background-color: #fff !important;
}

.hidden-input {
    display: none;
}

.order-nav {
    .nav-item {
        line-height: 1.333333rem;

        display: inline-block;

        width: 25%;

        text-align: center;
        &:active {
            color: $blue;
        }
        .item-num {
            color: $blue;
        }
    }
    .current {
        color: $blue;
    }
}

.order-info {
    font-size: .213333rem;

    overflow: hidden;

    padding: .2rem;

    background-color: #f6f6f6;
    .price {
        i {
            color: $red;
        }
    }
    .order-statu {
        display: inline-block;
        float: right;

        color: $red;
    }
}

.file-name {
    position: absolute;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.wallet-panel {
    .balance {
        height: 3.466667rem;

        text-align: center;

        background-color: $blue;
        h1 {
            font-size: .72rem;
            font-weight: bold;

            padding: .666667rem 0;

            color: #fff;
        }
        .bill-details {
            display: inline-block;

            padding: .133333rem .666667rem;

            color: #fff;
            border: 1px solid #fff;
        }
    }
    .recharge-button {
        a {
            line-height: .733333rem;

            display: inline-block;

            width: 50%;

            text-align: center;

            background-color: #eee;
            &:active {
                background-color: #d8d8d8;
            }
        }
    }
}

.mui-plus header.mui-bar {
    display: none;
}

.mui-plus .mui-bar-nav~.mui-content {
    padding: 0;
}

.hm-description {
    margin: .5em 0;
}

.hm-description>li {
    font-size: 14px;

    color: #8f8f94;
}



/**
 * 选择列表插件
 * varstion 2.0.0
 * by Houfeng
 * Houfeng@DCloud.io
 */

.mui-picker {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    height: 200px;

    -webkit-user-select: none;
    user-select: none;

    border: solid 1px rgba(0, 0, 0, .1);
    background-color: #ddd;
}

.mui-picker-inner {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(top, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
}

.mui-pciker-list,
.mui-pciker-rule {
    line-height: 36px;

    position: absolute;
    top: 50%;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 36px;
    margin: 0;
    margin-top: -18px;
    padding: 0;
}

.mui-pciker-rule-bg {
    z-index: 0;
    /*background-color: #cfd5da;*/
}

.mui-pciker-rule-ft {
    z-index: 2;

    border-top: solid 1px rgba(0, 0, 0, .1);
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/
}

.mui-pciker-list {
    z-index: 1;

    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg);

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-pciker-list li {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 16px;

    position: absolute;

    visibility: hidden;
    overflow: hidden;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 8px;

    cursor: default;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #888;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-text-overflow: ellipsis;
}

.mui-pciker-list li.highlight,
.mui-pciker-list li.visible {
    visibility: visible;
}

.mui-pciker-list li.highlight {
    color: #222;
}

.mui-poppicker {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;

    width: 100%;

    -webkit-transition: .3s;
    -webkit-transform: translateY(300px);

    border-top: solid 1px #ccc;
    background-color: #eee;
    box-shadow: 0 -5px 7px 0 rgba(0, 0, 0, .1);
}

.mui-poppicker.mui-active {
    -webkit-transform: translateY(0px);
}

.mui-android-5-1 .mui-poppicker {
    bottom: -300px;

    -webkit-transition-property: bottom;
    -webkit-transform: none;
}

.mui-android-5-1 .mui-poppicker.mui-active {
    bottom: 0;

    -webkit-transition-property: bottom;
    -webkit-transform: none;
}

.mui-poppicker-header {
    font-size: 14px;

    padding: 6px;

    color: #888;
}

.mui-poppicker-header .mui-btn {
    font-size: 12px;

    padding: 5px 10px;
}

.mui-poppicker-btn-cancel {
    float: left;
}

.mui-poppicker-btn-ok {
    float: right;
}

.mui-poppicker-clear {
    font-size: 0;
    line-height: 0;

    clear: both;
    overflow: hidden;

    height: 0;
}

.mui-poppicker-body {
    position: relative;

    width: 100%;
    height: 200px;

    border-top: solid 1px #ddd;
    /*-webkit-perspective: 1200px;
    perspective: 1200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}

.mui-poppicker-body .mui-picker {
    float: left;

    width: 100%;
    height: 100%;
    margin: 0;

    border: none;
}

.fn-clear:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '\0020';
}

.dis-none {
    display: none;
}

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
    60% {
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);

        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
    60% {
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);

        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounce-in-down {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes fadeInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
    60% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);

        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
    60% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);

        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-down {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    40%,
    45% {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);

        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
}

@keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    40%,
    45% {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);

        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
}

.bounce-out-up {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
}

@-webkit-keyframes fadeOutUp {
    20% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    40%,
    45% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);

        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
}

@keyframes fadeOutUp {
    20% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    40%,
    45% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);

        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
}

.fade-out-up {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

.menu-open {
    width: 100%;
    height: 100%;
}

.menu-open .mui-scroll-wrapper {
    position: absolute;
    z-index: 1;
    top: 48;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;

    -webkit-backface-visibility: hidden;
}

.menu-backdrop {
    display: none;
}

.menu-open .menu-backdrop {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;

    display: block;

    width: 100%;
    height: 100%;
}

.menu-wrapper {
    position: absolute;
    z-index: 999;
    top: 1.3rem;
    right: 0;
    left: 0;

    width: 10.0rem;
    margin: 0 auto;

    text-align: center;

    background-color: #fff;
}

.menu-wrapper.hidden {
    z-index: -1;

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.menu {
    width: 100%;
}

.none {
    display: block;

    width: 100%;

    background-color: #fff;
    figcaption {
        font-size: .266667rem;

        padding: .5rem 0;

        text-align: center;

        color: #999;
    }
    img {
        display: block;

        width: 60%;
        margin: 0 auto;
    }
}

.log {
    margin: .33333rem;

    text-align: center;
    img {
        width: 2.6rem;
    }
}

.copyright {
    font-size: 12px;

    padding: .33333rem 0;

    text-align: center;
    p {
        line-height: 1.5em;
    }
}

.fn-clear {
    *zoom: 1;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fn-center {
    text-align: center;
}

.FQA .item {
    padding: .333333rem;
    h3 {
        font-size: 14px;
        line-height: 1.5em;

        margin-bottom: .2rem;

        color: $blue;
    }
    p {
        line-height: 1.5em;
    }
}